.App {
  text-align: center;
}
*{box-sizing: border-box}
.cell{
  width:100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 50%;
  margin: 10px;
}

.cell.active{
  background-image: url(images/too.png);
  background-position:center;
  background-size:cover;
 }


.cell.hited{
  animation-duration: 700ms;
  animation-name: rotate;
  animation-direction: alternate;}




.mainWrapper{
margin: 0 auto;
  display: flex;
  width:400px;
  flex-wrap: wrap;
  align-content:center;
  cursor: url('images/gun-pointer1.png') ,pointer;
 }



@keyframes rotate {
  from {
    transform:rotateY(45deg);
    background-color: black;
    animation-timing-function: ease-out;
  }
  25% {
    transform:rotateY(90deg);
    background-color: black;

    animation-timing-function: ease-in;
  }
  50% {
    transform:rotateY(135deg);
    animation-timing-function: ease-out;
  }
  75% {
    transform:rotateY(180deg);
    animation-timing-function: ease-in;
  }
  to {
    width: 100px;
  }
}